# On bloque l'accés au fichier .htaccess
<Files .htaccess>
    order allow,deny
    deny from all
</Files>
<Files .config>
    order allow,deny
    deny from all
</Files>
<IfModule mod_rewrite.c>
    # On bloque l'accés au répertoire du site
    Options All -Indexes
    # On utilise le module +FollowSymlinks, présent sur le serveur.
    Options +FollowSymlinks
    # Active ou désactive la réécriture d'url (on -> active la réécriture)
    RewriteEngine On

#    RewriteLog /CMSlog.log
#    RewriteLogLevel 4

    ErrorDocument 403 Themes/Default/403.php
    ErrorDocument 404 Themes/Default/404.php
    ErrorDocument 500 Themes/Default/500.php
    RewriteRule ^403$ Themes/Default/403.php [L]
    RewriteRule ^404$ Themes/Default/404.php [L]
    RewriteRule ^500$ Themes/Default/500.php [L]

    # Permet la réécriture des pages urls
    RewriteRule ^${DOCUMENT_ROOT}$ index.php [L]
    RewriteRule ^Article-page([0-9]+)$ index.php?page=$1 [L]
    RewriteRule ^Nouveau-mdp-([0-9]+)$ Themes/Default/passwordNewUser.php?keyUser=$1 [L]
    RewriteRule ^Recuperation-mdp-([0-9]+)$ Themes/Default/recoveryPassword.php?keyUser=$1 [L]
    RewriteRule ^Article-([0-9]+)$ Themes/Default/articleHome.php?art=$1 [L]
    RewriteRule ^Pages-([0-9]+)$ index.php?paReh=$1 [L]
    RewriteRule ^Page-([0-9]+)$ Themes/Default/pageHome.php?idRe=$1 [L]

    RewriteRule ^Modification-profile$ backOffice/updateProfile.php [L]
    RewriteRule ^Profile$ backOffice/profile.php [L]
    RewriteRule ^Profile-status-(['A-Za-zé']+)-utilisateur-([0-9]+)$ backOffice/profile.php?upUs=$1&idUs=$2 [L]
    #Articles
    RewriteRule ^Articles$ backOffice/articles.php [L]
    RewriteRule ^Suppression-actualite-([0-9]+)$ backOffice/articles.php?delAct=$1 [L]
    RewriteRule ^Page-actualité-([0-9]+)$ backOffice/articles.php?paPro=$1 [L]
    RewriteRule ^Changement-article-([0-9]+)$ backOffice/changing.php?chanArt=$1 [L]
    RewriteRule ^Moderation-commentaire([0-9]+)$ backOffice/validationComment.php?va=$1 [L]
    #Pages
    RewriteRule ^Pages$ backOffice/pages.php [L]
    RewriteRule ^Page-profile-([0-9]+)$ backOffice/pages.php?paRea=$1 [L]
    RewriteRule ^Changement-page-([0-9]+)$ backOffice/changing.php?upRea=$1 [L]
    #Catégories
    RewriteRule ^Categorie$ backOffice/categorie.php [L]
#    RewriteRule ^Page-profile-([0-9]+)$ backOffice/pages.php?paRea=$1 [L]
#    RewriteRule ^Changement-lecture-([0-9]+)$ backOffice/changing.php?upRea=$1 [L]
</IfModule>